:root {
    --main-color: #41b6c4;
    --secondary-color: #0c2c84;
    --tertiary-color: #7fcdbb;
    --background-color: whitesmoke;
    --text-color: black;
    --header-color: black;
    --story-text-color:white;
}

/*********************************
OVERALL
*********************************/

h2 {
    text-align: center;
    font-size:40px;
    padding:10px;
    color: var(--header-color);
    padding-top: 50px;
}

.family-label {
    font-size: small;
}

body {
    background-color: var(--background-color);
    font-family: 'Raleway', sans-serif;
    color: var(--text-color)
}

.section2_paragraph{
    font-size: 17px;
    padding-right: 20px;
}

.credits {
    font-size: 10px;
    color: white;
    text-align: right;
    padding-right: 20px;
}

/*********************************
NAVBAR
*********************************/

body.fp-viewing-section-header #main_navbar{
    display:none;
}

#main_navbar {
    font-size: 15px;
    padding:5px;
}

.nav-item:active {
    color: var(--main-color);
}


/*********************************
MAIN PAGE
*********************************/
#main_header {
    font-size:55px;
    padding-left:40px;
    color: white;
    margin-bottom: 0px;
    vertical-align: middle;
    opacity: 50%;
    height: 100%;
    position: absolute;
    top: 97%;
    left: 40%;
    transform: translate(-50%, -20%);
    width: 80%;
}

#main_subheader{
    font-size:45px;
}

.header_bg {
    /* The image used */
    background-image: url("https://timedotcom.files.wordpress.com/2018/01/ellis.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*change the opacity
    opacity: .5;  */
}

.section2_paragraph strong{
    color: var(--main-color);
}


/*********************************
INTRO PAGE
*********************************/
.intro_paragraph{
    font-size: 17px;
    color: white;
}

.intro_bg {
    /* The image used */
    background-image: url("../img/StatueLiberty.PNG");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro_paragraph strong{
    color: var(--secondary-color);
}

#quote{
    color: var(--secondary-color);
    padding-top: 100px;
    font-size: 20px;
    padding-bottom: 50px;
}


/*********************************
TIMELINE PAGE
*********************************/

#timeline_selection_area {
    margin: auto;
    width: 50%;
    text-align: center;
}

#timeline_details_area {
    list-style: none;
    color: #4C4C4C;
    font-size: 15px;
    padding-right: 30px;
    text-align: center;
}

#timeline_list_header {
    color: var(--main-color);
    font-size: 20px;
}


/*********************************
WORK VIZ PAGE
*********************************/
.y-axis_bar text {
    font-size: 12px;
}

/*
remove y-axis in the barcharts
 */
.y-axis_bar{
    stroke-width: 0px;
}



/*********************************
STORY PAGES
*********************************/

.story_paragraph{
    font-size: 30px;
    color: var(--story-text-color);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: justify;
}

.story_text_block{
    margin: auto;
    width: 50%;
    padding-top: 40px;
}

.story1_bg {
    /* The image used */
    background-image: url("../img/yemen-revolution.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#story1{
    height:100%;
    width: 100%;
}


/*********************************
WORLD MAP
*********************************/

.legendQuant {
    font-size: smaller;
}

.world-map-selection {
    text-align: left;
    float: left;
}


/*********************************
TRENDLINES
*********************************/

.applications{
    color: var(--main-color);
}

.approvals{
    color: var(--secondary-color);
}

.H1B{
    color: var(--main-color);
}

.H2A{
    color: var(--tertiary-color);
}

.H2B{
    color: var(--secondary-color);
}

.activeLine {
 stroke-width: 3px;
}

#trump_details_area {
    padding-left:40px;
}


#trend_section{
    padding-bottom: 50px;
}

.annotation.above text {
    font-size: 15px;
}




/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/*********************/
/* AUTOCOMPLETE STYLE */
/*********************/

* { box-sizing: border-box; }

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

#countrybutton {
    background-color: var(--main-color);
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--main-color); !important;
    color: #ffffff;
}

.location-label {
    font-size: 16pt;
    padding: 10px;
}


/*********************************
AUTHORS PAGE
*********************************/
/* image overlay effect
inspired by w3 schools: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade
*/

#authors_section{
    padding-bottom: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    margin:auto;

}

.overlay_grey{
    background-color: var(--background-color);
}

.overlay:hover {
    opacity: 1;
}

.overlay_text {
    text-align: center;
    font-size: 15px;
    opacity: 1;
    vertical-align: middle;
    margin:auto;
    padding-top: 20%;
    color: var(--main-color);
}

.img-responsive {
    height: 100%;
}

.image {
    object-fit: cover;
    width: 60%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_container {
    padding:0px;
}
